.appContainer {
  margin-top: 53px;
  display: flex;
}

.sidebar {
  width: 200px;
  display: flex;
  flex-direction: column;
  min-width: 200px;
  max-width: 200px;
  position: fixed;
  top: 52px;
  left: 0;
  overflow-x: hidden;
  overflow-y: scroll;
  transition: all ease-in-out 0.3s;
}

.sidebar ul li a {
  padding: 10px 12px;
}

.authPage,
.sidebar,
.adminContent {
  height: calc(100vh - 58px);
}

.adminPanel {
  display: flex;
  flex-direction: row;
  width: 100%;
  width: calc(100% - 200px);
  margin-left: 200px;
  transition: all ease-in-out .3s;
}
.adminPanel.hidePanel{
  width: 100%;
  margin-left: 0;
  transition: all ease-in-out .3s;
}
/* Apply custom scrollbar styles directly to the .sidebar class */
.sidebar::-webkit-scrollbar {
  width: 8px;
}

.adminContent {
  padding-bottom: 20px;
}

.sidebar::-webkit-scrollbar-track {
  background: #2d3748;
  /* Tailwind gray-800 */
}

.sidebar::-webkit-scrollbar-thumb {
  background-color: #4a5568;
  /* Tailwind gray-700 */
  border-radius: 4px;
  border: 2px solid transparent;
  background-clip: content-box;
}

/* Firefox support */
.sidebar {
  scrollbar-width: thin;
  scrollbar-color: #4a5568 #2d3748;
}

.sidebar.hideSidebar {
  transform: translateX(-200px);
  transition: all ease-in-out 0.3s;
}

.live_now:after {
  content: "";
  position: absolute;
  left: 6px;
  top: 50%;
  background-color: #fff;
  height: 5px;
  width: 5px;
  border-radius: 100%;
  transform: translateY(-50%);
}
.toggleMenu{
  display: none;
}
@media (max-width:768px) {
  .toggleMenu{
    display: flex;
  }
  .sidebar{
    bottom: 0;
    z-index: 9;
  }
  .react-datepicker-wrapper {
    width: 100%;
  }
  .authPage,
  .sidebar,
  .adminContent {
    height: auto;
  }

  .adminPanel {
    width: calc(100%);
    margin-left: 0;
  }
}