body {
    background: #565656;
}
.appContainer{
    margin-top: 44px;
    display: flex;
}
.sidebar{
    width: 200px;
    display: flex;
    flex-direction: column;
    background-color: #1f2937;
    height: calc(100vh - 48px);
    min-width: 200px;
    max-width: 200px;
}
.sidebar ul li a{
    color: #fff;
    padding: 15px 5px;
}
.authPage{
    height: calc(100vh - 48px);
}
.live_now:after {
    content: "";
    position: absolute;
    left: 6px;
    top: 50%;
    background-color: #fff;
    height: 5px;
    width: 5px;
    border-radius: 100%;
    transform: translateY(-50%);
}